[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/TM1637"]
	path = lib/TM1637
	url = https://github.com/mlesniew/TM1637.git
[submodule "lib/BME280"]
	path = lib/BME280
	url = https://github.com/finitespace/BME280
